<div class="design">
<p id="notice"><%= notice %></p>
<% cache @product do %>
<p>
  <strong>Name:</strong>
  <%= @product.name %>
</p>
<% cache @product do %>
<p>
  <strong>Description:</strong>
  <%= @product.description %>
</p><% end %>

<p>
  <strong>Image url:</strong>

  <%= image_tag(@product.image_url, class: "img-responsive", width: "350", class: "img-zoom", data_zoom_image: "@product.image_url") %>
</p>

<p>
  <strong>Color:</strong>
  <%= @product.color %>
</p></div>
<!-- Stripe payments -->

<%= form_with(url: '/payments/create') do |form| %>
  <%= render partial: "shared/stripe_checkout_button" %>
  <%= hidden_field_tag(:product_id, @product.id) %>
<% end %>
%p
            This product has been viewed
            = @view_count
            times
        %p	        



<%= render 'new_comment' %>
<%= render 'comments' %>
<!--<p>Average Rating: <div class="rated" data-score="<%= @product.average_rating %>"></div> </p> -->
<div id="average_rating_outside_div">
    <p><div class="rated" data-score="<%= @product.average_rating %>"></div></p>
  </div>
<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
<% end %>
